@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Poppins";
        src: url(./Fonts/Poppins/Poppins-ExtraLight.ttf) format(truetype);
        font-weight: 200;
    }

    @font-face {
        font-family: "Poppins";
        src: url(./Fonts/Poppins/Poppins-Regular.ttf) format(truetype);
        font-weight: 400;
    }

    @font-face {
        font-family: "Poppins";
        src: url(./Fonts/Poppins/Poppins-SemiBold.ttf) format(truetype);
        font-weight: 600;
    }

    @font-face {
        font-family: "Poppins";
        src: url(./Fonts/Poppins/Poppins-ExtraBold.ttf) format(truetype);
        font-weight: 900;
    }

    @font-face {
        font-family: "Urbanist";
        src: url(./Fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format(truetype);
        font-weight: 400;
    }
}

h1,
h2,
h3,
h4 {
    user-select: none;
}

*::selection {
    background-color: black;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    color: rgb(36, 36, 36);
    position: absolute;
    background-color: #fdfdfd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    display: block;
    padding: 8px 16px;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    user-select: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mySwiper {
    overflow: hidden;
  }
  
  
  
  #nextbutton {
    color: rgb(37, 20, 4);
    position: absolute;
    right: 0;
  }
  
  #prevbutton {
    color: rgb(37, 20, 4);
    position: absolute;
    left: 0;
  }
  .swiper-pagination {
  position: absolute;
  bottom: -6px !important;
}

.swiper-pagination-bullet {
  background-color: rgb(75, 1, 109) !important;
}
